.field-container:hover input.valid-field:not(:focus),
.field-container:hover select.valid-field:not(:focus),
.field-container:hover textarea.valid-field:not(:focus) {
    border-color: #34d399;
}

/* Quitar bordes negros */
input,
select,
textarea {
    border-color: #e5e7eb !important; /* gray-200 en lugar de negro */
}

.border-black {
    border-color: #e5e7eb !important;
}

.border-gray-900 {
    border-color: #e5e7eb !important;
}

.border-gray-800 {
    border-color: #e5e7eb !important;
}